<%= form_for(@stumbling, url: api_v1_user_stumbling_path(@stumbling)) do |f| %>
<form>
    <div class="form-group">
        <label for="formGroupExampleInput">search_key(変更不可)</label>
        <div class="form-control bg-warning text-danger bg-opacity-10"><%= @stumbling.search_key %></div>
    </div>
    </br>
    <div class="form-group">
        <label for="formGroupExampleInput2">dictionary_key</label>
        <input type="text" <%= f.text_field :dictionary_key, class:"form-control bg-warning text-dark bg-opacity-10", id:"formGroupExampleInput2", placeholder:"本タイトルを入力してください" %>
    </div>
    </br>
    <div class="form-group">
        <label for="formGroupExampleInput3">error解決に至るまでのメモ</label>
        <%= f.text_area :memo , size: "25x15", class: "form-control bg-warning text-dark bg-opacity-10"%>
    </div>
    <div><%= f.submit "更新する" %></div>
</form>
<% end %>